@* @inherits LayoutComponentBase *@
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudText Typo="Typo.h6" Class="ml-3">Aplikacja XYZ</MudText>
        <MudSpacer />
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen"
               Variant="@((Breakpoint >= Breakpoint.Md) ? DrawerVariant.Mini : DrawerVariant.Temporary)"
               OpenMiniOnHover="@(Breakpoint >= Breakpoint.Md)"
               Elevation="2"
               Anchor="Anchor.Left"
               ClipMode="DrawerClipMode.Docked">

        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Menu</MudText>
        </MudDrawerHeader>

        <MudNavMenu Color="@Color.Primary">
            <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavLink Href="/produkty" Icon="@Icons.Material.Filled.Inventory">Produkty</MudNavLink>
            <MudNavLink Href="/uzytkownicy" Icon="@Icons.Material.Filled.Group">Użytkownicy</MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent Class="pa-4">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen { get; set; } = true;

    [CascadingParameter] public Breakpoint Breakpoint { get; set; }

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}